body {
    background: #e5ded8;
    box-sizing: border-box;
  }

  .blog-container {
    background: #fff;
    border-radius: 5px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    @media screen and (min-width: 480px) {
      width: 28rem;
    }
    @media screen and (min-width: 767px) {
      width: 40rem;
    }
    @media screen and (min-width: 959px) {
      width: 50rem;
    }
  }
  .blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: 0.25s ease;
   
  }
  
 
  .blog-author,
  .blog-author--no-cover {
    margin: 0 auto;
    padding-top: 1.2rem;
    width: 90%;
  }
  .blog-author h3::before,
  .blog-author--no-cover h3::before {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 50px;
    margin-right: 0.6rem;
    position: relative;
    top: 15px;
    width: 50px;
    font-size: 20;
  }
  .blog-author h3 {
    color: #fff;
    font-weight: 100;
  }
  .blog-author--no-cover h3 {
    color: lighten(#333, 40%);
    font-weight: 100;
  }
  
  
  .blog-body {
    margin: 0 auto;
    padding: 1% 6%;
    
  }
  
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  .blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
  
  
  .blog-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: 0.125rem;
    width: 90%;
  }

input {
    margin: 12px;
    height: 47px;
    border-width: 1px;
}

button{
    width:100px
}

  .blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
  }
  .blog-footer li:first-child {
    margin-right: auto;
  }
 
  .blog-footer li {
    color: lighten(#333, 40%);
    font-size: 0.75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
   
  }

  .published-date {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    padding: 0 0.5rem;
    color:cadetblue;
    font-weight: 500;
  }


 
  

    