<div class="wrapper">
  <div class="container">
    <div class="left">
      <div class="top" *ngIf="currentUser.role == 'ADMIN'">ALL EMPLOYEES</div>
      <div class="top" *ngIf="currentUser.role == 'USER'">YOUR Messages</div>

      <ul class="people">
        <li
          class="person"
          data-chat="person1"
          *ngIf="currentUser.role == 'USER'"
        >
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg"
            alt=""
          />
          <div class="pt-2 name">Admin</div>
        </li>

        <div *ngIf="currentUser.role == 'ADMIN'">
          <li
            class="person"
            data-chat="person1"
            *ngFor="let employee of Employees"
            (click)="getsenderMessages(employee)"
          >
            <img src="{{ employee.pImage }}" alt="" />

            <div class="pt-2 name">
              {{ employee.firstName | uppercase }}
              {{ employee.lastName | uppercase }}
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="right">
      <div class="chat" *ngIf="EmployeeMessages">
        <div class="top">
          <span
            >To: <span class="name">{{ EmployeeName | uppercase }}</span></span
          >
        </div>

        <div
          [ngClass]="
            currentUser.role == 'ADMIN' ? 'conversation-start' : 'user'
          "
        >
          <div class="nada ms-2" *ngFor="let message of EmployeeMessages">
            <div class="bubble you">
              {{ message.message }}
              <div class="pt-2 time">
                {{ message.createdAt | date : "shortTime" }}
              </div>
            </div>
          </div>
        </div>

        <div class="write" *ngIf="currentUser.role == 'ADMIN'">
          <form class="row validate-form" [formGroup]="sentMessage">
            <input class="col-11" type="text" formControlName="newMessage" />
            <button
              class="btn btn-transparent col-1 sendbutton"
              [disabled]="!this.sentMessage.valid"
              (click)="sendMessagestoEmp()"
            >
              send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
